
@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('http://fonts.cdnfonts.com/css/lato');

* {
  font-family: 'Lato', sans-serif;
}

.container_lanpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/about_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0;
  min-width: 540px;
  animation-duration: 0.2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_mobil {
  width: 8%;
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 5%;
  cursor: pointer;
}

.wave {
  color: #ff4f38;
  width: 470px;
  margin-top: 12%;
  font-family: 'Lato', sans-serif;
  font-size: 1.8em;
  text-align: center;
}

.subtitle {
  font-weight: 900;
  font-size: 2.2em;
  color: transparent;
  width: 470px;
  font-family: 'COCOGOOSE', sans-serif;
  text-align: center;
  margin-top: 2%;
  background-image: url('../img/fondo_text.jpg');
  background-clip: text;
  -webkit-background-clip: text;
}

.description {
  width: 470px;
  border: 3px solid #f8f8f8;
  box-sizing: border-box;
  padding: 0.882em;
  background-color: white;
  font-family: 'Lato', sans-serif;
  margin: 17px 0 0 0;
  text-align: center;
  line-height: 1.7em;
}

.assotiation {
  width: 470px;
  padding: 0 12 0 12;
  color: #615e5e;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  height: 85px;
  margin-top: 4%;
  text-align: center;
  line-height: 1.6em;
}

.invitation_link {
  color: #ec5242;
}

.invitation_link:hover {
  color: #bc3c2e;
}

.container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17%;
  background-image: url(../img/pattern_mob.png);
  background-color: #000000d6;
  height: 814px;
}

.title_main {
  margin-top: 7%;
  color: black;
  font-size: 1.5em;
  text-align: center;
}

.line_content_mp {
  stroke: #ec5242;
  stroke-width: 4px;
  height: 7px;
  width: 48px;
}

.partner {
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  width: 450px;
  border-top: 2px solid #d3d3d3;
  margin-top: 4%;
  height: 325px;
}

.course {
  width: 100%;
}

.courseMP {
  width: 65%;
}

.quickView {
  font-family: 'Lato', sans-serif;
  color: #797171;
  text-align: center;
  margin-top: 2%;
  width: 75%;
}

.previous_course {
  display: flex;
  flex-direction: column;
  width: 540px;
  align-items: center;
}

.descriptionView {
  width: 85%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #797171;
  margin: 1% 0 8% 0;
}

.courses {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.li_meet {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.meet {
  width: 80%;
  text-align: center;
  display: block;
}

.title_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: rgb(238, 82, 60, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.25s;
  color: white;
  margin-left: 10%;
  transform: translateY(0);
}

.title_image--blur {
  backdrop-filter: blur(1px);
}

.title_image:hover {
  transform: translateY(20px);
  transition: transform 0.25s;
  opacity: 0;
}

.partners {
  min-width: 100%;
  height: 527px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ul_partner {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 299px;
  background-color: #414246;
  padding: 0;
}

.partnersImg {
  width: 73%;
}

.namesP {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.partnersli {
  max-width: 33%;
  max-height: 25%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assotiation_bottom {
  width: 50%;
  padding: 0 12 0 12;
  color: #615e5e;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  height: 85px;
  margin-top: 4%;
  text-align: center;
  line-height: 1.6em;
}

.navT {
  width: 50vh;
  height: 100vh;
  display: none;
}

.nav_page {
  list-style: none;
  padding: 0;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  display: flex;
  gap: 5%;
  margin-left: 3%;
  cursor: pointer;
}

.navTitle h2 {
  font-family: 'COCOGOOSE', sans-serif;
  color: black;
  font-size: 3em;
  width: 95%;
  box-shadow: 12px 7px 16px -2px #fc573b;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.close_button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.closeB {
  width: 10%;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.link_page {
  text-decoration: none;
}

.logo_mob {
  width: 50%;
  box-shadow: 1px 1px 1px 1px #ffe6e2;
}

.botton_logo {
  width: 50%;
}
