
                            @import url('http://fonts.cdnfonts.com/css/cocogoose');


                            @import url('http://fonts.cdnfonts.com/css/lato');

             *{
                font-family: 'Lato', sans-serif;
             }   
.container_lanpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/about_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;  
    padding: 0;
    min-width: 540px;
}

body {
display: flex;
flex-direction: column;
align-items: center;
}

.menu_mobil
{
    width: 8%;
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 5%;
}

.wave {
    color:  #ff4f38;
    width: 470px;
    margin-top: 12%;
    font-family: 'Lato', sans-serif;
                                      font-size: 1.8em;      
                                      text-align: center;    

} 

.subtitle{
    font-weight: 900;
    font-size: 2.2em;
    color: rgba(229,33,11,0.8);
    width: 470px;
    font-family: 'COCOGOOSE', sans-serif;
    text-align: center;
    margin-top: 2%;
}
 .description {
    width: 470px;
    border: 3px solid #f8f8f8;
    box-sizing: border-box;
    padding: .882em;
    background-color: white;
    margin-top: 4%;
    font-family: 'Lato', sans-serif;
    margin: 17px 0 0 0px;
    text-align: center;
    line-height: 1.7em;
 }

 .assotiation {
    width: 470px;
    padding: 0 12 0 12;
    color: #615e5e;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    height: 85px;
    margin-top: 4%;
    text-align: center;
    line-height: 1.6em;
 }
.invitation_link{
    color: #ec5242;
}

.invitation_link:hover{
    color: #bc3c2e;
}
 /*  */


 .container_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17%;
    background-image: url(../img/pattern_mob.png);
    background-color:#000000d6;
 height: 814px;   

}


.title_main{
    margin-top: 7%;
    color: black;
    font-size: 1.5em;
    text-align: center;
}

.line_content_mp{
    stroke: #ec5242;
    stroke-width: 4px;
    height: 7px;
    width: 48px;
    
}

.partner{
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
}
.legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 450px;
    border-top: 2px solid #d3d3d3;
    margin-top: 4%;
    height: 325px;
}
.course {
    width: 50%;
    
}

.quickView{
    font-family: 'Lato', sans-serif;
    color: #797171;
    text-align: center;
    margin-top: 2%;
    width: 75%;
}
.previous_course{
    display: flex;
    flex-direction: column;
    width: 540px;
    align-items: center;
}
.titleView{

}

.descriptionView{ 
width: 85%;
text-align: center;
font-family: 'Lato', sans-serif;
    color: #797171;
    margin: 1% 0 8% 0;
}
.courses{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.li_meet{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.meet{
    width: 80%;
    text-align: center;
    display: block;
}
.title_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: rgb(238,82,60,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    opacity: 1;
    transition: opacity 0.25s;
    color: white;
    margin-left: 10%;
}

.title_image  {
    transform: translateY(0);
}

.title_image--blur{
    backdrop-filter: blur(1px);
}

.title_image:hover {
    
    transform: translateY(20px);
    transition: transform 0.25s ;
}

.title_image:hover{
    opacity: 0;
}

.partners{
    min-width: 100%;
    height: 527px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ul_partner {
    list-style: none;
    display: flex;
    flex-wrap: 0;
    justify-content: center;
    flex-wrap: wrap;
    height: 299px;
    background-color: #414246;
    padding: 0;
}

.partnersImg{
    width: 73%;
}

.namesP{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.partnersli{
    max-width: 33%;
    max-height: 25%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.assotiation_bottom {
    width: 50%;
    padding: 0 12 0 12;
    color: #615e5e;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    height: 85px;
    margin-top: 4%;
    text-align: center;
    line-height: 1.6em;
 }