
                            @import url('http://fonts.cdnfonts.com/css/cocogoose');


                            @import url('http://fonts.cdnfonts.com/css/lato');

.header_navD {
    
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    box-shadow: 0px -14px 21px 1px black;
    
}
.icons_MediaD{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #272a31;
    margin: 0;
    height: 37px;
    gap: 1.5%;
}                

.navTD{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 7vh;
    background-color: white;
    
    
 }


 .headWordD{
    color: white;
    font-size: .6em;
    margin: 0;
    font-family: 'Lato', sans-serif;
 }
 .paddD{
    width: 10.8%;
    height: 100%;
 }
 .about_linkD{
    color: #ff4f38;
 }
 .nav_pageD{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    font-family: 'Lato', sans-serif;
    margin: 0;
 }

 .invitationD {
    box-shadow: 0px 0px 0px 4px #ff4f38;
    width: 108px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e74a39;
    font-family: 'Lato', sans-serif;
 }

 .navTitleD h2{
    font-family: 'Lato', sans-serif;
    font-size: .8em;
    cursor: pointer;
    margin: 0;
 }
.container_lanpageD{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/backgroundDsk.png);
    background-repeat: no-repeat;
    background-size: 123%;
    padding: 0;
    margin-top: 96.8px;
    width: 100%;
}

body {
display: flex;
flex-direction: column;
align-items: center;
}


.waveD {
    color:  #ff4f38;
    width: 470px;
    margin-top: 1%;
    font-family: 'Lato', sans-serif;
                                      font-size: 1.8em;          

} 


.subtitleD{
    font-weight: 900;
    font-size: 2.5em;    
    color:rgba(229,33,11,0.8) ;
width: 470px;   
font-family: 'COCOGOOSE', sans-serif;
}
 .descriptionD {
    width: 470px;
    border: 5px solid #fff;
    box-sizing: border-box;
    padding: .882em;
    background-color: #f7f7f8;
    margin-top: 4%;
    font-family: 'Lato', sans-serif;
    margin: 17px 0 0 0px;
 }
 .dateD {
    font-family: revert;
    width: 470px;
    font-weight: 900;
    font-size: 1.9em;
    color: #4a4a4a;
    margin-bottom: 2%;
    font-family: 'COCOGOOSE', sans-serif;
    margin: 9px 0 0 0;

 }
 .assotiationD {
    width: 470px;
    padding: 0 12 0 12;
    color: #615e5e;
    font-family: 'Lato', sans-serif;
font-size: 1em;
 }


 
 .container_mainD{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11%;
    background-image: url(../img/pattern_mob.png);
    background-color: #000000d6;
    height: 466px;
    width: 100%;
}

.content_DescrD{
    width: 62%;
    margin-top: 7%
}
.title_mainD{
    
    color: white;
    font-size: 1.5em;
    margin: 0;
    margin-top: 3%;
}

.line_content_mpD{
    stroke: #ec5242;
    stroke-width: 4px;
    height: 7px;
    width: 48px;
    margin-top: 2%;
}

.main_listD{
    
    list-style: none;
    padding: 0;
    margin-top: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main_liD {
    display: flex;
    height: 211px;
    background-color: rgb(55 58 67 / 63%);
    width: 16%;
    justify-content: center;
    
    margin-top: 2%;
    margin-left: .4%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.button_joinD{
    color: #808088;
    border: 0;
    width: 71%;
    height: 9%;
    font-size: 1.30em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 2%;
}

/*  */

.userD{
    width: 107px;
    height: 107px;

}
/* .ul_users{
list-style: none;
padding: 0;
width: 100%;
margin-top: 5%;
} */


.img_programD{
    width: 50px;
    height: 50px;
    margin-left: 2%;
    background-color: white;
    box-shadow: 5px 10px #888888;
}
.name_programD{
    /* max-width: 52%; */
    width: 80%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff4f38;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    margin: 0;
                                                
    
}


.p_programD{
    width: 80%;
    width: 86%;
    height: 59px;
    color: white;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: .8em;
    text-align: center;
}






 

 
 .close_buttonD {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 30%;
    margin-bottom: 1%;
 }
 .closeBD {
    width: 10%;
    margin-right: 23px;
    margin-top: 0px;
    cursor: pointer;
 }
 .link_pageD {
    text-decoration: none;
 }


 .logo_mobD{
    width: 155px;
    box-shadow: 1px -7px 0px -2px #ff4f38;
    margin-bottom: 5%;
 }

 




 .partnersD{
    min-width: 100%;
    height: 377px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.partnerD{
    text-align: center;
    color: #8d8d8d;
    margin-bottom: 3%;
    
}

.ul_partnerD {
    list-style: none;
    display: flex;
    flex-wrap: 0;
    justify-content: center;
    flex-wrap: wrap;
    height: 212px;
    background-color: #414246;
    padding: 0;
}

.partnersImgD{
    width: 73%;
    margin-bottom: 25%;
}
.namesPD{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.partnersliD{
    max-width: 16%;
    max-height: 25%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.botton_logoD{
    width: 32%;
    height: 100%;
    text-align: center;
}

.couserD{ 
    width: 50%;
}
.footerBD{
    display: flex;
    width: 100%;
    align-items: center;
    max-height: 24%;
    margin-bottom: 1%;
    justify-content: center;
}
.course_bottonD{
    width: 79%;
}

.section_colab{

}


@media (min-width: md) and (max-width: xl) { 


    
    
}